<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/theme/luc">
<head>
	<title>Crear Cliente</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-lg-12">
			<h2>Creacion de Cliente</h2>
			<form method="POST" action="/logistica/clientes/crear" th:object="${terceros}" enctype="multipart/form-data">
				<div class="form-group">
					<label for="nombre">Codigo ContaPyme</label>
					<input type="text" value=""  placeholder="Codigo ContaPyme..." th:field="${terceros.codigoLuc}" name="codigoLuc" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input type="text" value=""  placeholder="Nombre..." th:field="${terceros.nombres}" name="nombres" class="form-control"/>
				</div>	
				<div class="form-group">
					<label for="dpto">Departamento</label>
    				<select class="form-control" id="dpto" name="dpto">
				        <option th:each="dp : ${dptos}"
				                th:value="${dp.getDepartamento()}"
				                th:text="${dp.getNombre()}"/>
				    </select>
				</div>	
				<div class="form-group">
					<label for="nombre">Ciudad</label>
					<input type="text" value=""  placeholder="Ciudad..." th:field="${terceros.ciudad}" name="ciudad" class="form-control"/>
				</div>					
				<div class="form-group">
					<label for="nombre">Direccion</label>
					<input type="text" value=""  placeholder="Direccion..." th:field="${terceros.direccion}" name="direccion" class="form-control"/>
				</div>	
				<div class="form-group">
					<label for="nombre">EAN: Codigo del CEN si lo tiene, si no mismo codigo ContaPyme</label>
					<input type="text" value=""  placeholder="EAN..." th:field="${terceros.ean}" name="ean" class="form-control"/>
				</div>		
				<div class="form-group">
					<label for="nombre">Lista Precio</label>
					<input type="text" value=""  placeholder="Lista Precio..." th:field="${terceros.listaPrecio}" name="listaPrecio" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="vendedor">Vendedor</label>
    				<select class="form-control" id="vendedor" name="vendedor">
				        <option th:each="vd : ${vendedores}"
				                th:value="${vd.getId()}"
				                th:text="${vd.getName()}"/>
				    </select>
				</div>	
				<input type="submit" value="Crear Cliente" class="btn btn-warning"/>
			</form>
		</div>
	</div>
</body>
</html>