<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/theme/luc">
<head>
	<title>CARGA CEN</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-lg-12">
			<h2>CARGA CEN</h2>
			<p>Elija de la lista desplegable la representacion a la cual va a cargar los pedidos, en caso de que los pedidos sean de distribucion seleccione Linea Uno.	</p>
			<form method="POST" action="/logistica/upload" enctype="multipart/form-data">
				<div class="form-group">
					<label for="proveedor">Proveedor</label>
    				<select class="form-control" id="proveedor" name="proveedor">
				        <option th:each="prov : ${proveedores}"
				                th:value="${prov.getId()}"
				                th:text="${prov.getNombre()}"/>
				    </select>
				</div>
				<div class="form-group">
					<label for="proveedor">Archivo</label>
			    	<input type="file" name="file" />
			    </div>
			    <div class="form-group">
			    	<input type="submit" value="Cargar" class="btn btn-warning"/>
			    </div>
			</form>
		</div>
	</div>
</body>
</html>